@import "../../css/variables";

:root {
  --margin: 1.25rem;
}

.ul {
  list-style-type: none;
  margin-top: var(--margin);
  width: 100%;
  max-width: 500px;
}

.li {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.25rem 0.5rem;
  margin-bottom: 2px;
  background-color: $blue-100;
  &:hover {
    background-color: $blue-200;
  }
}

.checked {
  text-decoration: line-through;
}

.delete {
  color: $warning;
  padding: 5px;
  cursor: pointer;
  font-weight: bold;
}

.button {
  margin-top: var(--margin);
  margin-left: var(--margin);
  margin-right: var(--margin);
  padding: 0.5em;
  border: none;
  color: white;
  border-radius: $border-sm;
  cursor: pointer;
  &_remove-checked {
    background-color: $blue-700;
    &:focus,
    &:hover {
      outline: none;
      background-color: $blue-800;
    }
  }
  &_clear-all {
    background-color: $warning;
    &:focus,
    &:hover {
      outline: none;
      background-color: red;
    }
  }
}

.no-items {
  margin-top: var(--margin);
}
