@import "../../css/variables";

.container {
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: center;
  position: relative;
}

.form {
  display: flex;
  justify-content: center;
  // max-width: 500px;
  width: 100%;
}

.suggest-list {
  position: absolute;
  top: 40px;
  ul {
    background-color: white;
    list-style-type: none;
    width: 300px;
    li {
      padding: 0.75em;
      height: 36px;
      user-select: none;
      &:hover {
        background-color: lightgray;
      }
    }
  }
}

.input {
  padding: 5px 10px;
  line-height: 1.25em;
  text-align: center;
  width: 80%;
  max-width: 300px;
  border: 1px solid $blue-600;
  border-radius: $border-sm;
  box-shadow: $shadow2;
  &:focus {
    outline: none;
    border-color: $blue-800;
  }
  &::placeholder {
    // font-size: 0.6em;
    font-style: italic;
    padding-bottom: 5px;
  }
  &:focus::placeholder {
    color: transparent;
  }
}
