$warning: #e63946ff;
$background-light: #f1faeeff;

$blue-900: #03045eff;
$blue-800: #023e8aff;
$blue-700: #0077b6ff;
$blue-600: #0096c7ff;
$blue-500: #00b4d8ff;
$blue-400: #48cae4ff;
$blue-300: #90e0efff;
$blue-200: #ade8f4ff;
$blue-100: #caf0f8ff;

$shadow: 2px 2px 2px 2px $blue-200;
$shadow2: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);

$border-sm: 5px;
